<ion-content class="background">
  <form class="box">
    <ion-grid>
      <ion-row>
        <ion-col>
        </ion-col>
        <ion-col col-6>
          <div><img src="assets/img/Login.png" /></div>
        </ion-col>
        <ion-col>
        </ion-col>
      </ion-row>
    </ion-grid>
    <h1>Login</h1>
    <input [(ngModel)]="loginUserData.username" type="text" name="username" placeholder="Username">
    <input [(ngModel)]="loginUserData.password"  type="password" name="password" placeholder="Password">
    <button (click)="loginUser()" type="button" name="button" value="Login"> Login</button>
  </form>
  </ion-content>
  